.audio-player {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px;

    .audio-header {
        display: flex;
        justify-content: space-between;
    }

    .audio-control {
        display: flex;
    }

    .truncated-label {
        padding: 0 0 10px 10px;
    }
}