.audio-recorder {
    display: flex;
    align-items: center;
    padding: 10px 0;

    &.red-record-style {
        .spinnerborder:before {
            border-top:4px solid $e-audio-red;
            border-bottom:4px solid $e-audio-red;
        }
        .recode-button .button {
            color: $e-audio-red;
        }
    }

    &.disabled-save-and-play-buttons {
        .play-button, .download-button .button {
            color: $e-audio-gray-a2;
            opacity: 0.5;
        }
    }

    .recode-conteiner {
        width: 100%;
        background: $e-audio-white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spinner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        background: $e-audio-white;
        border-radius: 50%;
        position: relative;

        .recode-button {
            display: flex;
            width: 100%;
            justify-content: center;

            .material-icons {
                font-size: 52px;
            }
        }
    }

    .spinnerborder:before {
        content:'';
        top:-4px;
        left: -4px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        border: 4px solid transparent;
        border-top:4px solid $e-audio-white;
        border-bottom:4px solid $e-audio-white;
        animation: rueda 1s linear infinite ;
    }

    @keyframes rueda {
        0%{
            transform: scale(1) rotate(0deg);
        }
        50% { 
            transform: scale(1.1) rotate(45deg);
        }
        100%{
            transform: scale(1) rotate(360deg);
        }
    }
}