.audio-list {
    display: flex;
    flex-direction: column;

    .player-and-recorder-wrapper {
        display: flex;
    }

    .file-drop {
        @include font-optima-regular(16px);
        
        width: 100%;
        cursor: pointer;

        .file-loader {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid;
            border-color: $e-audio-gray;
            border-radius: 3px;
            padding: 25px;

            .material-icons {
                font-size: 50px;
            }

            &:hover {
                border-color: $e-audio-blue;
            }
        }
    } 


}