.ember-application {
    background-color: $e-audio-gray;
    margin: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.margin-none-important {
    margin: 0 !important;
}

.full-width {
    width: 100%;
}

@mixin font-family-optima {
    font-family: Optima, sans-serif;
}

@mixin font-family-bradley-hand {
    font-family: "Bradley Hand", cursive;
}

@mixin font-bradley-hand-regular($font-size: 12px) {
    @include font-family-bradley-hand;
    font-size: $font-size;
}

@mixin font-optima-regular($font-size: 12px) {
    @include font-family-optima;
    font-size: $font-size;
}