.icon-button {
    display: flex;
    justify-content: flex-end;

    .button {
        @include font-optima-regular(16px);

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $e-audio-white;
        border: none;
        outline: 0; 

        .material-icons {
            font-size: 32px;
        }
    }
}