$e-audio-red: #000000;
$e-audio-gray: #E5E6E9;
$e-audio-gray-a1: #DDDDDD;
$e-audio-gray-a2: #808080;
$e-audio-gray-a3: #2F4F4F;
$e-audio-white: #FFFFFF;
$e-audio-black: #000000;
$e-audio-red: #FF0000;
$e-audio-blue: #2326E6;
