.w-header {
    @include font-bradley-hand-regular(52px);

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    height: 60px;
    text-align: right;
    background-color: $e-audio-black;
    color: $e-audio-gray;
}
